<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="口碑课程考研培训班是国内性价比高，教务老师服务态度好，以同学评价为最高宗旨，口碑课程目前开设有普通、热门双非、211、985、顶尖院校等考研培训辅导班；咨询热线：023-8170-3034！" />
		<meta name="keywords" content="考研培训|考研课程|考研评价" />
		<title>口碑课程-10月教务老师服务工作问卷调查表</title>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>

	<body>
		<div class="warp" id="warp">
			<h1 class="bbb"><a style="color:blue; border-bottom: 1px solid blue" href="https://www.koubeikc.com" target="_blank">口碑课程</a>10月教务老师服务工作问卷调查表</h1>
			<div class="kb-survey-item" v-for="items in mydata.survey">
				<h2>{{items.title}}<span>[单选题]</span></h2>
				<table border="" cellspacing="0" cellpadding="0">
					<tr>
						<th>选项</th>
						<th>小计</th>
						<th>比例</th>
					</tr>
					<!--<tr v-for="">
						<td>{{items.name[0]}}</td>
						<td>{{items.vote[0]}}</td>
						<td>
							<div class="progressbar">
								<i class="jd"></i>
							</div>
							<span> {{items.per[0]}}</span>
						</td>
					</tr>
					<tr>
						<td>{{items.name[1]}}</td>
						<td>{{items.vote[1]}}</td>
						<td>
							<div class="progressbar">
								<i class="jd" style="width:`+{{items.per[1]}}+`;"></i>
							</div>
							<span> {{items.per[1]}}</span>
						</td>
					</tr>
					<tr>
						<td>{{items.name[2]}}</td>
						<td>{{items.vote[2]}}</td>
						<td>
							<div class="progressbar">
								<i class="jd"></i>
							</div>
							<span> {{items.per[2]}}</span>
						</td>
					</tr>
					<tr>
						<td>{{items.name[3]}}</td>
						<td>{{items.vote[3]}}</td>
						<td>
							<div class="progressbar">
								<i class="jd"></i>
							</div>
							<span> {{items.per[3]}}</span>
						</td>
					</tr>
					<tr>
						<td>本题有效填写人次</td>
						<td>{{items.sum}}</td>
						<td></td>
					</tr>-->
				</table>
				<div class="chartbox" id="">
					<div id="index10-container1" class="chart"></div>
				</div>
			</div>
		</div>
		<p style="width: 100%;text-align: center;padding: 20px 0 50px;">
			<a href="https://www.koubeikc.com" style="padding: 15px;box-shadow: 0 0 2px;">进入口碑课程官网</a>
		</p>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript">
		$.ajax({
			url: "json/highcharts1.json", //json文件位置
			type: "GET", //请求方式为get
			dataType: "json", //返回数据格式为json
			success: function(mydata) { //请求成功完成后要执行的方法 
				//			console.log(mydata.survey)
				//			for(var i = 0; i < mydata.survey.length; i++) {
				//				$('.kb-survey-item').html(`<h2><span>[单选题]</span></h2>
				//				<table border="" cellspacing="0" cellpadding="0">
				//					<tr>
				//						<th>选项</th>
				//						<th>小计</th>
				//						<th>比例</th>
				//					</tr>
				//				</table>
				//				<div class="chartbox" id="">
				//					<div id="indexx10-container1" class="chart"></div>
				//				</div>`)
				//			}
				console.log(mydata.survey)
				var html = '';
				for(var i = 0; i < mydata.survey.length; i++) {
					//					console.log(mydata.survey[i].title)
//					for(var j = 0; j < mydata.survey[i].name.length; j++) {
						html += `	<div class="kb-survey-item" v-for="items in mydata.survey"><h2>` + mydata.survey[i].title + `<span>[单选题]</span></h2>
								<table border="" cellspacing="0" cellpadding="0">
									<tr>
										<th>选项</th>
										<th>小计</th>
										<th>比例</th>
									</tr>
										<tr>
											<td>` + mydata.survey[i].name[i] + `</td>
											<td>{{items.vote[2]}}</td>
											<td>
												<div class="progressbar">
													<i class="jd"></i>
												</div>
												<span> {{items.per[2]}}</span>
											</td>
										</tr>
									
								</table>
								<div class="chartbox" id="">
									<div id="indexx10-container1" class="chart"></div></div>`
//					}
				}
				$('#warp').append(html)
				//					var oContent = $('.content');

			},
			error: function() {
				alert('error');
			}
		})
	</script>

</html>