<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="口碑课程考研培训班是国内性价比高，教务老师服务态度好，以同学评价为最高宗旨，口碑课程目前开设有普通、热门双非、211、985、顶尖院校等考研培训辅导班；咨询热线：023-8170-3034！" />
		<meta name="keywords" content="考研培训|考研课程|考研评价" />
		<title>口碑课程-10月教务老师服务工作问卷调查表</title>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<style type="text/css">

		</style>
	</head>

	<body>
		<div class="warp" id="warp">
			<h1 class="bbb"><a style="color:blue; border-bottom: 1px solid blue" href="https://www.koubeikc.com" target="_blank">口碑课程</a>10月教务老师服务工作问卷调查表</h1>
			<div class="kb-survey-item" v-for="items in mydata.survey">
				<h2>{{items.title}}<span>[单选题]</span></h2>
				<table border="" cellspacing="0" cellpadding="0">
					<tr>
						<th>选项</th>
						<th>小计</th>
						<th>比例</th>
					</tr>
					<tr v-for="">
						<td>{{items.name[0]}}</td>
						<td>{{items.vote[0]}}</td>
						<td>
							<div class="progressbar">
								<i class="jd" :style='"width:"+items.per[0]'></i>
							</div>
							<span> {{items.per[0]}}</span>
						</td>
					</tr>
					<tr>
						<td>{{items.name[1]}}</td>
						<td>{{items.vote[1]}}</td>
						<td>
							<div class="progressbar">
								<i class="jd" :style='"width:"+items.per[1]'></i>
							</div>
							<span> {{items.per[1]}}</span>
						</td>
					</tr>
					<tr>
						<td>{{items.name[2]}}</td>
						<td>{{items.vote[2]}}</td>
						<td>
							<div class="progressbar">
								<i class="jd" :style='"width:"+items.per[2]'></i>
							</div>
							<span> {{items.per[2]}}</span>
						</td>
					</tr>
					<tr>
						<td>{{items.name[3]}}</td>
						<td>{{items.vote[3]}}</td>
						<td>
							<div class="progressbar">
								<i class="jd" :style='"width:"+items.per[3]'></i>
							</div>
							<span> {{items.per[3]}}</span>
						</td>
					</tr>
					<tr>
						<td>本题有效填写人次</td>
						<td>{{items.sum}}</td>
						<td></td>
					</tr>
				</table>
				<div class="chartbox" id="">
					<div :id="items.id" class="chart"></div>
				</div>
			</div>
		</div>
		<p style="width: 100%;text-align: center;padding: 20px 0 50px;">
			<a href="https://www.koubeikc.com" style="padding: 15px;box-shadow: 0 0 2px;">进入口碑课程官网</a>
		</p>
	</body>
	<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript">
		$.ajax({
			url: "json/highcharts1.json", //json文件位置
			type: "GET", //请求方式为get
			dataType: "json", //返回数据格式为json
			success: function(mydata) { //请求成功完成后要执行的方法 
				var vue = new Vue({
					el: "#warp",
					data: {
						mydata
					}
				});
				var charts = document.querySelectorAll('.chart');
				for(var i = 0; i < charts.length; i++) {
					 $("#index10-container"+(i+1)+"").highcharts({
						chart: { 
							plotBackgroundColor: null, //绘图区背景颜色
							plotBorderWidth: null, //绘图区边框宽度
							plotShadow: false //绘图投影
						},
						colors: ['#54c7fc', '#ffb54d', '#ff7466', '#44db5e'],
						title: { //头部
							text: ''
						},
						tooltip: { //数据提示框
							//单个点的格式化函数
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
						},
						plotOptions: { //图例事件，图例默认的点击行为是显示或隐藏当前数据列
							pie: {
								allowPointSelect: false,
								//cursor: 'pointer',
								dataLabels: { //数据标签
									enabled: true, //通过设置 legend.enabled = true | false 来打开或关闭图例
									color: '',
									connectorColor: 'blue', //连接线颜色
									format: '<b>{point.name}</b>: {point.percentage:.2f} %'
								}
							}
						},
						series: [{
							type: 'pie', //pie：饼图
							name: 'Browser share',
							data: [
								['卓越', 234],
								['非常满意', 91],
								['满意', 42],
								['一般', 3],
							]
						}]
					})
				}
			},
			error: function() {
				alert('error');
			}
		})
	</script>
</html>